  @import _variables.scss   

  header {
    background: rgba(0,0,0,0.7);
    width: 100%;
    position: fixed;
    z-index: 100;
  }
  
nav {
    float: left;
   nav ul {
      list-style: none;
      overflow: hidden;
    }
   nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
    }
    nav ul li a {
        display: block;
        padding: 10px;
        color: #fff;
        text-decoration: none;
      }
      nav ul li:hover {
        background: #eca023;
      }
    
      p {
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        $text-align;
        $primary-color;
      }
      
    }

    @mixin button {
        background-color: grey;
        color: white;
        font-size: 16px;
        border-radius: 5px;
        border: none;
       .button {
        @include button;
    }
    .button {
        @include button;
    }
    .button {
        @include button;
    }
}